@media screen and (max-width:700px){
  header .container1{
    display: flex;
    flex-direction: column;
  }

  header nav a{
    padding: 0px;
    margin: 2px;
  }

  .filme_Main{
    align-items: flex-start; 
  }

  .filme_Main .container{
    margin-top: 90px;
  }

  .buttons{
    align-items: center;
    justify-content: center;
  }

  .button{
    margin-top: -15px;
    margin-bottom: 15px;
    width: 190px;
  }
}

@media screen and (min-width:1000px) {
    .description{
      width: 50%;
    }
}