:root {
  --vermelho: #0b08af;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/

body {
  background: var(--preta);
  font-family: 'Arial', Times, serif;
  color: white;
}

header .container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  
  background-color: var(--preta);
  
  width: 100%;
  z-index: 10;
}

header .logo {
  color: var(--vermelho);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/*filme main*/
.filme_Main {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/Naruto.jpg');
  height: 400px;
  background-size: cover;
  
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
}

.filme_Main .description{
  margin-bottom: 50px;
  margin-top: 10px;
}

.filme_Main .title{
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
  background-color: rgba(0,0,0,.50);
  border:none;
  box-shadow:1.5px 1.5px 3px #141414;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: box-shadow .2s ease, transform .3s ease, .6s sease all;
}

.button:hover{
  background-color: white;
  color: black;
}

.button:active{
  box-shadow: 0 0 0, inset 1.5px 1.5px 3px;
  transform: translate(1.5px, 1.5px);
}

.button i{
  margin-right: 15px;
  margin-left: -15px;
}

.container{
  margin-left: 15px;
}

.filme_Main .container{
  width: 80%;
}


/* Carousel */

.filme_Carousel{
  margin-top: 15px;
}

.box_Filme{
  height: 350px;
  width: 100px;
  display: inline-block;


  cursor: pointer;
  transition: .2s sease all;
}

.box_Filme:hover{
  border-color: #aaa;
  border-style: solid;
}

.box_Filme:active{
  border:none;
}

.title_Carousel1{
  margin-left: 15px;
  margin-bottom: 5px;
}

.title_Carousel2{
  margin-left: 15px;
  margin-bottom: 5px;
}